#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fish-container {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  font-size: 2.5rem;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  .fish-container.adaptive {
    text-shadow: -2px -2px 0 #242424, 2px -2px 0 #242424, -2px 2px 0 #242424, 2px 2px 0 #242424;
  }
}

.fish-text {
  font-size: 4rem;
  font-weight: bold;
  position: relative;
  z-index: 1; /* Ensure text is on top */
}


.fish-icon {
  position: absolute;
  right: -22%;
  top: 50%;
  transform: translateY(-45%);
  max-width: 30%;
  width: auto;
  z-index: 0; /* Behind the text slightly */
}

@media (max-width:780px){
  .fish-icon {
    right: -10%;
    top: 25%;
    max-width: 45%;
  }
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  font-size: 1.5em;
}